node_modules
dist
dist/
build
.git
.gitignore
.vscode
.DS_Store
npm-debug.log
**/node_modules
**/dist
frontend/dist
backend/node_modules
.env
.env.*
coverage

# IDE files
.idea
*.iml

# OS files
Thumbs.db
Desktop.ini

Dockerfile*
docker-compose*.yml
*.local
